# Copie este arquivo para .env e preencha os valores

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/payments?schema=public"

# MercadoPago
MERCADOPAGO_ACCESS_TOKEN="YOUR_MERCADOPAGO_ACCESS_TOKEN_HERE"
MERCADOPAGO_WEBHOOK_URL="http://localhost:3000/v1/webhooks/mercadopago"
MERCADOPAGO_WEBHOOK_SECRET="YOUR_WEBHOOK_SECRET_HERE"

# Temporal
TEMPORAL_ADDRESS="localhost:7233"
TEMPORAL_NAMESPACE="default"
TEMPORAL_TASK_QUEUE="payments-task-queue"

# App
PORT=3000
NODE_ENV=development
